<div class="container dashboard-index" style="padding-top: 50px;">
    <div class="row" style="height: 400px;">
        <ng-echarts class="col-md-12 echarts" ec-config="lineConfig" ec-option="lineOption"></ng-echarts>
    </div>
    <div class="row" style="height: 400px; padding-top: 50px;">
        <ng-echarts class="col-md-12 echarts" ec-config="barConfig" ec-option="barOption"></ng-echarts>
    </div>
    <div class="row" style="height: 400px; padding-top: 50px;">
        <ng-echarts class="col-md-12 echarts" ec-config="pieConfig" ec-option="pieOption"></ng-echarts>
    </div>
<!--     <div class="row" style="height: 400px; padding-top: 50px;">
        <ng-echarts class="col-md-12 echarts" ec-config="scatterConfig" ec-option="scatterOption"></ng-echarts>
    </div> -->
</div>
